__pycache__/pricing.cpython-310.pyc
__pycache__/pricing.cpython-312.pyc
__pycache__/supermarket.cpython-310.pyc
__pycache__/supermarket.cpython-312.pyc
__pycache__/test_supermarker.cpython-312-pytest-8.2.0.pyc
__pycache__/test_supermarket.cpython-310-pytest-8.2.0.pyc
